h1 {
    font-size: 80px;
    text-align: center;
    color: yellowgreen;
}

p {
    text-align: center;
    line-height: 1.7;
    font-size: 20px;
}

/* untrack -> add -> stage -> commit */
/* modifide -> add -> stage -> commit */